.NDHU007_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
}
.NDHU007_footerBkg {
    text-align: center;
    padding: 3rem 0;
    background-image: url("/images/Rectangle 185.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}
.NDHU007_footerChild1,
.NDHU007_footerChild2{
    width: 50%;
}
.NDHU007_footerChild1 > p,
.NDHU007_footerChild2 > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 41px;
}
.NDHU007_footerChild1 > p {
    color: white;
}
.NDHU007_footerChild2 > p {
    color: black;
}
