#NDHU006_studentArea {
    width: 100%;
    position: relative;
}
.NDHU006_badgeTitle {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.NDHU006_badgeTitle:hover {
    border-bottom: 3px solid black;
    color: black;
}
.NDHU006_littleHelper {
    background-color: #f8eed7;
    text-align: center;
    border: 10px solid #cabe93;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 3rem;

    width: 20rem;
    height: 120px;
}
.NDHU006_stTop,
.NDHU006_stBtm {
    position: absolute;
    width: 85%;
    right: 0;
}
.NDHU006_stTop {
    top: 10%;
}
.NDHU006_stBtm {
    top: 55%;
}
.NDHU006_stTop > h3,
.NDHU006_stBtm > h3 {
    color: white;
    font-weight: 600;
    font-size: 50px;
}
.NDHU006_LHContainer {
    display: flex;
    flex-wrap: wrap;
    right: 0;
    position: absolute;
}
.NDHU006_LHCTop {
    width: 100%;
}
.NDHU006_LHCBtm {
    width: 85%;
}
@media (max-width: 1920px) {
    .NDHU006_badge {
        width: 40px;
    }
    .NDHU006_badgeTitle {
        font-size: 35px;
    }
    .NDHU006_stTop {
        top: 3%;
    }
    .NDHU006_littleHelper {
        width: 20rem;
        height: 120px;
    }
}
@media (max-width: 1720px) {
    .NDHU006_stBtm {
        top: 50%;
    }
}
@media (max-width: 1440px) {
    .NDHU006_badge {
        width: 35px;
    }
    .NDHU006_badgeTitle {
        font-size: 25px;
    }
    .NDHU006_stTop {
        top: 3%;
    }
    .NDHU006_littleHelper {
        width: 14rem;
        height: 88px;
    }
    .NDHU006_stTop > h3,
    .NDHU006_stBtm > h3 {
        font-size: 45px;
    }
}
@media (max-width: 1200px) {
    .NDHU006_badge {
        width: 35px;
    }
    .NDHU006_badgeTitle {
        font-size: 20px;
    }
    .NDHU006_stTop {
        top: 3%;
    }
    .NDHU006_littleHelper {
        width: 13rem;
        height: 85px;
    }
    .NDHU006_stTop > h3,
    .NDHU006_stBtm > h3 {
        font-size: 40px;
    }
    .NDHU006_stBtm {
        top: 55%;
    }
}
@media (max-width: 1080px) {
    .NDHU006_badge {
        width: 30px;
    }
    .NDHU006_badgeTitle {
        font-size: 16px;
    }
    .NDHU006_stTop {
        top: 3%;
    }
    .NDHU006_littleHelper {
        width: 10rem;
        height: 60px;
    }
    .NDHU006_stTop > h3,
    .NDHU006_stBtm > h3 {
        font-size: 35px;
    }
}