#NDHU005_honor {
    width: 100%;
    margin: auto;
    position: relative;
    scroll-behavior: smooth;
}
.NDHU005_honorTitle {
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    align-items: center;
    color: rgba(147, 180, 199, 0.54);
}
.NDHU005_owlContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.NDHU005_owlElement {
    display: flex;
    flex-direction: column;
    background-color: rgba(147, 180, 199, 0.54);
    border-radius: 0 0 10px 10px;
    margin-right: 1rem;
    padding: 1rem;
    align-items: center;
    opacity: 0.4;
    transition: 0.4s ease all;
    transform: scale(0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.NDHU005_owlElement > p {
    margin-top: 1rem;
}
.NDHU005_owlElementImg {
    width: 20rem;
    height: 20rem;
}
.active .NDHU005_owlElement {
    opacity: 1;
    transform: scale(0.9);
}
.NDHU005_honorMore {
    text-decoration: none;
    color: white;
    padding: 0.45rem 1.5rem;
    background-color: rgba(147, 180, 199, 0.54);
    border-radius: 0.7rem;
    z-index: 1000;
    transition: ease 1s;
    margin-top: -1rem;
}
.NDHU005_honorMore:hover {
    cursor: pointer;
    background-color: rgba(125, 152, 167, 0.54);
    color: white;
}
