.NDHU008_staffsContainer {
    width: 80%;
    margin: -0.5rem auto auto auto;
    display: flex;
    flex-direction: row;
}
.NDHU008_staffs {
    width: 85%;
    margin-left: 1rem;
}
.NDHU008_staffCard {
    display: flex;
    flex-direction: row;
    background-color: #dae7e7;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 5px 5px 60px 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.NDHU008_avatar {
    border-radius: 50%;
    width: 200px;
    align-items: center !important;
    margin-bottom: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.NDHU008_subTitle {
    width: 100%;
    color: #063448;
    background-color: #b9c9c9;
    font-size: larger;
    border-radius: 8px;
    padding: 0.35rem 0.35rem 0.35rem 0.6rem;
}
.NDHU008_cardFirst {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.NDHU008_cardFirst,
.NDHU008_cardSec,
.NDHU008_cardThrd,
.NDHU008_cardForth {
    margin-right: 0.5rem;
    /* width: 25%; */
}
.NDHU008_cardFirst,
.NDHU008_cardSec {
    width: 30%;
}
.NDHU008_cardThrd,
.NDHU008_cardForth {
    width: 23%;
}
.NDHU008_cardFirst > p {
    margin: 0;
    color: black;
    font-size: 18px;
    text-align: center;
    /* padding-left: 0.1rem; */
    width: 100%;
    border-left: 12px solid #7fb8b8;
}
.NDHU008_cardFirst > p:nth-child(2) {
    font-size: 22px !important;
}
.NDHU008_cardFirst > p:nth-child(2),
.NDHU008_cardFirst > p:nth-child(3) {
    /* border-left: 12px solid #7fb8b8; */
}
