html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    box-sizing: border-box;
    position: relative !important;
    min-height: 100vh !important;
    /* padding-top: 5rem; */
    /* font-family: monospace; */
}
p,
li,
a {
    font-size: 16px;
}

main {
    margin: auto;
    padding-bottom: 8vh;
}

.textaligncenter {
    text-align: center;
}

#t1 {
    background-image: url(./t1.jpg);
    background-size: cover;
    height: 70vh;
    position: relative;
}

#t1 > h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; /* 橫向置中*/
    margin-right: auto;
    top: 30%;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 48px;
    cursor: context-menu;
}

#t2 {
    margin-left: 2rem;
}

i {
    font-size: 36px;
    padding: 1rem;
    border-radius: 36px;
}

/* #discord {
  background-color: rgba(194, 194, 247, 0.39);
  color: rgb(74, 74, 237);
}

#line {
  background-color: rgb(220, 220, 239, 0.39);
  color: rgb(65, 222, 125);
} */

/* footer {
  height: 12rem;
  background-color: rgb(212, 212, 212);
  display: flex;
  justify-content: center;
  color: rgb(108, 107, 107);
} */
/* 
iframe {
  width: 100%;
} */

.NDHUIM_return-top-btn {
    background-color: rgb(115, 115, 182);
    color: white;
    padding: 0.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.NDHUIM_return-top-btn:hover {
    background-color: rgb(160, 160, 222);
    transition: 0.4s background-color;
}

@media (max-width: 768px) {
    .NDHU001_header > nav {
        display: none;
    }
    #NDHUIM_side-menu-toggle {
        display: block;
    }
}

/* .nav-parent-headbar {
  display: flex;
} */

.NDHUIM_nav-bar ul li {
    display: inline-block;
}