.NDHU001_header {
    padding-top: 1rem;
    height: 5rem;
    display: flex;
    background-color: rgb(16, 23, 32);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1000;
    transition: ease;
    transition-duration: 0.8s;
}
.NDHU001_header_isHome {
    top: 0%;
    position: fixed;
    background-color: transparent;
}

#NDHU001_logo > a {
    font-size: 36px;
    color: white !important;
    text-decoration: none;
}
.NDHU001_searchNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.NDHU001_searchNav > a {
    margin-right: 1rem;
    text-decoration: none;
    color: white !important;
    font-weight: 600;
}
#NDHU001_logoutBtn {
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    transition: ease;
    transition-duration: 0.4s;
    font-weight: 600;
}
#NDHU001_logoutBtn:hover{
    background-color: rgb(135, 180, 165);
    color: white;
}
#NDHU001_searchBar {
    background-color: transparent;
    padding-right: 1rem;
    margin-right: 1rem;
    background-image: url("/images/NDHU001_searchBarIcon.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: white;
}
input#NDHU001_searchBar::placeholder {
    color: white;
}
.NDHU001_nav > ul > li > a {
    /* margin: 0 1.5rem; */
    padding: 0.3rem 0.2rem;
    color: white !important;
    text-decoration: none;
    font-weight: 600;
}
.NDHU001_nav > ul > li > a:hover,
.NDHU001_searchNav > a:hover {
    cursor: pointer;
    border-bottom: 3px rgb(185, 178, 178) solid;
}
