/* Carousel container */
.NDHU002_carousel_container {
    max-width: 88vw;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: transparent;
}

.NDHU002_carousel_bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  top: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  background-color: #021218;
  overflow: hidden;
}

/* Background text (NDHU IM) */
.NDHU002_carousel_bg_solid {
  color: white;
  font-size: 12rem;
  font-weight: 700;
  text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white;
  margin: 0;
}

.NDHU002_carousel_bg_hollow {
  color: #021218;
  font-size: 12rem;
  font-weight: 700;
  text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white;
  margin: 0;
}

.NDHU002_carousel_bg_N {
  transform: translateY(60%);
}

.NDHU002_carousel_bg_D {
  transform: translateY(20%);
}

.NDHU002_carousel_bg_H {
  transform: translateY(-20%);
}

.NDHU002_carousel_bg_U {
  transform: translateY(-60%);
}

.NDHU002_carousel_bg_I {
  transform: translateY(20%) translateX(35%);
}

.NDHU002_carousel_bg_M {
  transform: translateY(-20%);
}


.NDHU002_carousel_onbg {
  max-width: 90vw;
  margin: auto;
}

/* Hide the images by default */
.NDHU002_carousel_cover {
    display: none;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.NDHU002_carousel_cover img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/* Next & previous buttons */
.NDHU002_carousel_prev,
.NDHU002_carousel_next {
    background-image: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    height: 100vh;
    top: 0;
    width: auto;
    padding: 0 7rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    font-size: 2rem;
    overflow: hidden;
    transition: background-color .5s ease-out
}

.NDHU002_carousel_prev p,
.NDHU002_carousel_next p{
  position: absolute;
  top: 50%;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* Position the "next button" to the right */
.NDHU002_carousel_next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.NDHU002_carousel_prev:hover
{
  background: rgba(0, 0, 0, 0.4);
}

.NDHU002_carousel_next:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Caption text */
.NDHU002_carousel_description {
    color: #f2f2f2;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    width: 100%;
    text-align: center;
    transition: .5s;
    text-shadow: rgb(0, 0, 0) 1px 1px 25px;
}

.NDHU002_carousel_description:hover {
  transform: scale(1.1) skewX(-10deg) translateY(-50%);
}

@keyframes NDHU002_carousel_description_animation{
  0%{
    transform: scale(1) translateY(-50%);
  }
  20%{
    transform: scale(0.9) translateY(-50%);
  }
  100%{
    transform: scale(1.1) skewX(-10deg) translateY(-50%);
  }
}

/* The dots/bullets/indicators */
.NDHU002_carousel_allDots{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

.NDHU002_carousel_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(187, 187, 187, 0.658);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.NDHU002_carousel_active,
.NDHU002_carousel_dot:hover {
    background-color: #ffffff;
}

/* Fading animation */
.NDHU002_carousel_fade {
    animation-name: NDHU002_carousel_fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* Opening animation */
.NDHU002_carousel_first {
  opacity: 0;
  animation-name: NDHU002_carousel_first;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes NDHU002_carousel_fade {
  0% {
    opacity: .9;
    transform: scale(1.2) translate(5%,5%);
  }
  100%{
    opacity: 1;
    transform: scale(1.00) translateX(0, 0);
  }
}

@keyframes NDHU002_carousel_first {
  0% {
    max-width: 88vw;
    opacity: 0;
  }
  30% {
    max-width: 88vw;
    opacity: 0.5;
  }
  100%{
    background-color: white;
    max-width: 100vw;
    opacity: 1;
  }
}

