.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

#NDHUIM_side-menu-toggle {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: 1s color, background-color;
  display: none;
}

#NDHUIM_side-menu-toggle:hover {
  background-color: #000;
  color: white;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav a {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  width: fit-content;
}

.mobile-nav a:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: none;
  border-radius: 10px;
  color: white;
  transition: 0.2s background-color, color;
}

.mobile-nav.open {
  transform: translateX(0);
}
