/* 圖片badge */
.NDHUUTILS_badgeContainer {
    width: 100%;
    margin: auto;
    position: relative;
    top: -3rem;
    z-index: -5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#NDHUUTILS_badge {
    width: 100%;
}
/* choser */
.NDHUUTILS_choser {
    width: 15%;
}
.NDHUUTILS_choser > li {
    background-color: #c0ded6;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    transition: ease;
    transition-duration: 0.5s;
}
.NDHUUTILS_choser > li > a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}
.NDHUUTILS_choser > li:hover {
    background-color: #aec8c1;
}
.NDHUUTILS_choserActive {
    color: #063448 !important;
}
/* 標題 */
.NDHUUTILS_title {
    width: 100%;
    font-size: 24px;
    border-bottom: 3px solid #063448;
    margin-bottom: 1rem;
}