.NDHU011_aboutContainer {
    width: 80%;
    margin: -0.5rem auto auto auto;
    display: flex;
    flex-direction: row;
}
.NDHU011_aboutContent {
    width: 85%;
    margin-left: 1rem;
}
.NDHU011_aboutArticle {
    margin-left: 2rem;
}