.NDHU198_postbox {
    width: 70%;
    margin: 1rem auto 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    padding: 0.8rem 0.7rem 0.7rem 0.7rem;
    padding-bottom: 8vh;
}
.NDHU198_postbox > h2,
.NDHU198_postbox > hr
{
    color: #094840;
}